{% extends 'layout.html' %}

{% block body %}

<div class="row mt-5 justify-content-center">
    <div class="col-auto d-flex text-center justify-content-center">
        Tracker Name - {{tracker["tracker_name"]}} <br>
        Description - {{tracker["tracker_description"]}} <br>
        Last updated - {{tracker["tracker_log_time"]}} <br>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-auto">
        Tracker type -
        {% if tracker["tracker_type"] == "numerical_tracker"%}Numerical{% endif %}
        {% if tracker["tracker_type"] == "boolean_tracker"%}Yes/No{% endif %}
        {% if tracker["tracker_type"] == "mo_tracker"%}Multiple Options{% endif %}
        {% if tracker["tracker_type"] == "time_tracker"%}Time Duration{% endif %}
    </div>
</div>

<div class="row my-2 justify-content-center">

    <!-- button to take user back to dashboard -->
    <div class="col-auto">
        <a class="btn btn-light" href="/dashboard/{{user_name}}">Return to dashboard</a>
    </div>

    <!-- log out button -->
    <div class="col-auto">
        <a class="btn btn-secondary" href="/logout/{{user_name}}">Log Out</a>
    </div>
</div>

<div class="row mt-2 justify-content-center">
    <div class="col-auto">
        <a href="#" class="btn btn-outline-light" onclick="showTrackerForm()">
            Edit Tracker Details (toggle)
        </a>
    </div>
</div>

<!-- Form to edit tracker name and description -->

<div class="row mt-3 d-none justify-content-center" id="edittrackerform">
    <div class="col-12 col-sm-8 col-md-3 border border-light rounded-3 p-4">
        <div class="row">
            <div class="col">
                <form action="/edittracker/{{tracker['tracker_id']}}" method="post" id="edittracker">
                    <label class="form-label" for="tracker_name">Tracker name</label>
                    <input class="form-control" type="text" name="tracker_name" id="tracker_name"> <br>
                    <label class="form-label" for="tracker_description">Tracker description</label>
                    <input class="form-control" type="text" name="tracker_description" id="tracker_description">
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <button form="edittracker" class="btn btn-light mt-3" type="submit">Confirm Edit</button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5 justify-content-center">

    <div class="col-12 col-sm-8 col-md-3 col-xl-3">

        <!-- Form for adding new data -->

        <div class="row justify-content-center">
            <div class="col-auto">
                Add new data
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <form id="record_value" class="" action='/createlog/{{tracker["tracker_id"]}}' method="post">
                    {% include "value_input_form.html" %}
                </form>
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-auto">
                <button form="record_value" class="btn btn-warning" type="submit">Add Value</button>
            </div>
        </div>

        <!-- Form to edit vale and notes for individual record/log in a tracker -->

        <div class="row justify-content-center" id="editlogform">
            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        {% if error_message != "" %}
                        {{error_message}}
                        {% else %}
                        Edit old value
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <form action="/editlogdetails" method="post" id="editlogdetails">
                            <label class="col-form-label" for="log_id">Id number</label>
                            <input class="form-control" type="text" id="log_id" name="log_id" placeholder="As seen in 1st column of the table">
                            <label class="col-form-label" for="log_value">Value</label>
                            <input class="form-control" type="text" id="log_value" name="log_value" placeholder=" As seen in 2nd column of the table">
                            <label class="col-form-label" for="log_note">Notes (3rd column of the table)</label>
                            <input class="form-control" type="text" id="log_note" name="log_note" placeholder="Leave blank to keep old note unchanged">
                            <input type="text" hidden name="tracker_id" value="{{tracker['tracker_id']}}">
                        </form>
                    </div>
                </div>
                <div class="row mt-2 justify-content-center">
                    <div class="col-auto">
                        <button form="editlogdetails" class="btn btn-warning" type="submit">Confirm Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- This is the table for log details of a tracker -->

    <div class="col col-sm-12 col-md-12 col-xl-7">
        <table class="table text-white table-bordered text-center table-responsive align-middle">
            <thead class="thead-dark">
                <tr>
                    <th>ID number</th>
                    <th>Value</th>
                    <th>Notes</th>
                    <th>Date</th>
                    <th>Action</th>
                    <th class="d-none" id="hiddenHeader">Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for userlog in user_logs%}
                <tr>
                    <td>{{userlog["log_id"]}}</td>
                    <td>{{userlog["log_value"]}}</td>
                    <td>{% if userlog["log_note"] == None %}-{% else %}{{userlog["log_note"]}}{% endif %}</td>
                    <td>{{userlog["log_time"]}}</td>
                    <td>
                        <div class="row justify-content-center">
                            <div class="col">
                                <a class="btn btn-danger" href='/deletelog/{{userlog["log_id"]}}'>Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}